.App {
  text-align: center;
  background-color: #FFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie-poster {
  width: 150px;
  height: 250px;
}

.movie-card {
  width:200px;
  height: 300px;
}