input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form {
  display: inline-block;
}

.container {
  padding: 20px;
}

select {
  display: block;
  margin-left: 20rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

button {
  margin: .5rem;
}